body{
    background-color: #e0fffc;
}

.cls-20 {
    stroke: #9886af;
    stroke-width: 8.504px;
    stroke-miterlimit: 10;
    fill: none;
  }

  .cls-32 {
    clip-path: url(#clippath);
  }
  
  .cls-31 {
    fill: #fffc9c;
  }
  
 .cls-20, .cls-26 {
    mix-blend-mode: color-burn;
  }