*{
    margin: 0;
    padding: 0;
}

body{
    border-spacing: 0;
    background-color:rgb(155, 255, 245);
}

.background{
    position: relative;
    width: 100%;
    height: 457px;
}
.dlend{
    background-color: #a200ff;
    mix-blend-mode: lighten;
    opacity: 74%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.gradiant{ 
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,rgba(171, 20, 20, 0) 0%,rgb(199, 255, 249) 18%);
    position: absolute;
    top: 350px;
    left:0;
    right:0;
    bottom: 0;
}



img{
    width: 100%;
    height: 100%;
object-fit: cover;
display: block;
}