
html{
    
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#b9fff7;
}

.background{
  position: relative;
}

.img{
    width: 100%;
    height: auto;
    position: relative;
    background-color: black;
    top: -50px;
}
.blend{
    background-color: #a200ff;
    mix-blend-mode: lighten;
    opacity: 74%;
    width: 100%;
    height: 100%;
    position: absolute;
}


img{
    width: 100%;
    height: auto;
    display: block;
object-fit: cover;
    top: -90px;
}

.gradiant{
   position: absolute;
   bottom: -1%;
    width: 100% ;
    height: 28%;
    background-image: linear-gradient(180deg,rgba(171, 20, 20, 0) 10% ,rgb(185, 255, 247) 75%,rgb(185, 255, 247) 95%,rgba(171, 20, 20, 0) 130%);
}

.blend-2{
    position: absolute; 
    top: 30%; 
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: calc(100% + 150px);
    background-color: #ff916b;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    mix-blend-mode: saturation;
}

.blend-3{
    position: absolute; 
    top: 30%; 
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: calc(100% + 150px);
    opacity: 43%;
    background-color: #fffc9c;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
}

.text-1{
    position: relative;
    bottom: 20px;
    left: 10px;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}

.chat{
    position: relative;
    margin-bottom: 7px;
    width:fit-content;
    padding: 10px;
    background-color: #c766ff;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.chat::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: -33px;
    border-width: 8px 22px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #c766ff; 
    transform: rotate(330deg);
}


.chat-t{
font-size: 12px;
font-family:Arial, Helvetica, sans-serif;
text-align: center;
}


@media (min-width: 750px) {

.blend-2,.blend-3{
    
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
}

.chat-t{
    font-size: 20px;
}

}

@media (min-width: 910px){
    .blend-2,.blend-3{
         border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    }
    .chat-t{
        font-size: 34px;
    }

    .chat::before{
        content: '';
        position: absolute;
        bottom: -20px;
        left: -59px;
        border-width: 15px 39px;
        border-style: solid;
        border-color: transparent;
        border-right-color: #c766ff; 
        transform: rotate(330deg);

    }
}

.text-2{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 27%;

}

.work-t{
text-align: center;
font-size: 22px ;
}


.navc{
    width: auto;
    height: 55px;
   position: sticky;  
   top : 0;
   animation: fade linear forwards;
   animation-timeline: scroll(y);
   animation-range: exit -2px;
}

@keyframes fade{ 
    0%,25%{
        background-image:linear-gradient(180deg,rgba(199, 102, 255, 0) ,rgba(255, 255, 255, 0));
    }
    
    45%{
        background-image:linear-gradient(180deg,rgba(199, 102, 255, 0.455) ,rgba(255, 255, 255, 0));

    }

     80%,100%{
        background-image:linear-gradient(180deg,rgb(199, 102, 255) ,rgba(255, 255, 255, 0));
    }
}

.navb{
   position: sticky; 
   top: 10px; 
    margin:auto;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.n{ 
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: rgb(250, 247, 252);
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

#p2{
    display: none;
}

#p3{
    display: none;
}

.foot{
    margin-bottom: 0;
    width: 100%;
    height: auto;
    padding: 15px 0px 25px  0px;
    background-color: #c766ff;
}

.text-3{
  width: fit-content;
  margin: auto;
}

.t-3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}


.icons{
    width: 60%;
    height :100%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.i{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: #fff70d;
    border-radius: 7px;
    font-size: 20px;
}

.cls-1 {
    fill: url(#radial-gradient-3);
  }

  .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13 {
    mix-blend-mode: screen;
  }

  .cls-14 {
    fill: url(#linear-gradient-2);
  }

  .cls-15 {
    mix-blend-mode: saturation;
  }

  .cls-15, .cls-16, .cls-17 {
    fill: #ff916b;
  }

  .cls-18 {
    fill: #e0fffc;
  }

  .cls-19 {
    fill: #9886af;
  }

  .cls-2 {
    fill: url(#radial-gradient-7);
  }

  .cls-3 {
    fill: url(#radial-gradient-4);
    opacity: .2;
  }

  .cls-20 {
    stroke: #9886af;
    stroke-width: 8.504px;
  }

  .cls-20, .cls-21, .cls-16, .cls-5, .cls-22, .cls-23, .cls-24, .cls-25 {
    stroke-miterlimit: 10;
  }

  .cls-20, .cls-21, .cls-5, .cls-22, .cls-23, .cls-24 {
    fill: none;
  }

  .cls-20, .cls-26 {
    mix-blend-mode: color-burn;
  }

  .cls-27 {
    isolation: isolate;
  }

  .cls-21 {
    stroke-width: 10.698px;
  }

  .cls-21, .cls-23, .cls-24 {
    stroke: #ff916b;
  }

  .cls-16 {
    stroke-width: 14.173px;
  }

  .cls-16, .cls-25 {
    stroke: #fffc9c;
  }

  .cls-4 {
    fill: url(#radial-gradient-6);
  }

  .cls-4, .cls-9 {
    opacity: .5;
  }

  .cls-28 {
    fill: #0d0719;
  }

  .cls-29 {
    fill: url(#linear-gradient);
    mix-blend-mode: lighten;
    opacity: .74;
  }

  .cls-5 {
    opacity: .03;
    stroke: #fff;
    stroke-width: 2px;
  }

  .cls-30 {
    mix-blend-mode: color;
    opacity: .44;
  }

  .cls-30, .cls-31 {
    fill: #fffc9c;
  }

  .cls-6 {
    fill: url(#radial-gradient-5);
    opacity: .15;
  }

  .cls-22 {
    stroke: #e0fffc;
    stroke-width: 14.529px;
  }

  .cls-23 {
    stroke-width: 9.2px;
  }

  .cls-7 {
    fill: url(#radial-gradient-10);
  }

  .cls-8 {
    fill: url(#radial-gradient-12);
  }

  .cls-32 {
    clip-path: url(#clippath);
  }

  .cls-24 {
    stroke-width: 5.669px;
  }

  .cls-25 {
    stroke-width: 16.645px;
  }

  .cls-25, .cls-33 {
    fill: #844b3c;
  }

  .cls-9 {
    fill: url(#radial-gradient-8);
  }

  .cls-10 {
    fill: url(#radial-gradient-9);
  }

  .cls-11 {
    fill: url(#radial-gradient-2);
  }

  .cls-34 {
    mix-blend-mode: overlay;
  }

  .cls-12 {
    fill: url(#radial-gradient);
    opacity: .25;
  }

  .cls-35 {
    mix-blend-mode: saturation;
    opacity: .86;
  }

  .cls-13 {
    fill: url(#radial-gradient-11);
  }